
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    background-color: #c1c1c1;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}
.nav-item a {
    display: inline-block;
    color: black;
    padding: 0 1em;
    text-decoration: none;
}
.nav-item a:hover {
    color: darkblue;
}
#logo {
    font-size: 2.5vw;
    padding: .2em 0;
    font-family: 'Work Sans', sans-serif;
}
.nav-links li {
    list-style-type: none;
}
.nav-links li a{
    display: inline-block;
    text-decoration: none;
}
.nav-links li:nth-child(5) {
    margin: 0 auto;
    left: calc(50% - 2vw);
}