
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item a {
    display: inline-block;
    color: black;
    padding: 0 1em;
    text-decoration: none;
}
.nav-item a:hover {
    color: blue;
}
#log {
    font-size: 3em;
    padding: .2em 0;
}
.nav-links li {
    list-style-type: none;
}
.nav-links li a{
    display: inline-block;
    text-decoration: none;
}
.nav-links li:nth-child(5) {
    margin: 0 auto;
}